<H3>Make Sure You Want To Delete Jenkins Job:</H3>
<div class="field grid flex">
    <b class="col-12 mb-2 md:col-4 md:mb-0 flex align-items-center">Jenkins Job Name:</b>
    <b class="col-12 mb-2 md:col-8 md:mb-0 flex align-items-center">{{ modelToDelete.jenkinsJobName }}</b>
</div>
<!-- <div class="field grid flex">
    <b class="col-12 mb-2 md:col-4 md:mb-0 flex align-items-center">Jenkins Job Full Url:</b>
    <b class="col-12 mb-2 md:col-8 md:mb-0 flex align-items-center">{{ modelToDelete.jenkinsJobFullUrl }}</b>
</div> -->
<div class="field flex flex-row-reverse">
    <button class="p-button flex ml-2" pButton type="button" label="Yes" icon="pi" (click)="onClieckYes()"></button>
    <button class="p-button flex ml-2" pButton type="button" label="No" icon="pi" (click)="onClieckNo()"></button>
</div>

