<div style="padding-top: 1%;">
    <div style="padding-bottom: 1%;" class="flex">
        <button pButton type="button" label="new" icon="pi pi-plus" class="p-button ml-auto" (click)="showCreateDiag()"></button>
    </div>
    <p-table [value]="jenkinsAccounts" responsiveLayout="scroll" [globalFilterFields]="['clientId', 'serverBaseUrl', 'account']">
        <ng-template pTemplate="header"> 
            <tr>
                <th pSortableColumn="serverName">ServerName<p-sortIcon field="serverName"></p-sortIcon></th>
                <th pSortableColumn="serverBaseUrl">BaseUrl<p-sortIcon field="serverBaseUrl"></p-sortIcon></th>
                <th pSortableColumn="account">AccountName<p-sortIcon field="account"></p-sortIcon></th>
                <th>Jobs</th>
                <th>Add Job</th>
                <th>Remove Account</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-jenkinsAccountSetting >
            <tr>
                <td>{{ jenkinsAccountSetting.serverName }}</td>
                <td>{{ jenkinsAccountSetting.serverBaseUrl }}</td>
                <td>{{ jenkinsAccountSetting.account }}</td>
                <td>
                    <div class="field grid flex" *ngFor="let job of jenkinsAccountSetting.jenkinsJobs">
                        <div class="col-12 md:col-8 flex align-items-center">{{ job.jenkinsJobName }}</div>
                        <button id="deleteJjButton" icon="pi pi-times" class="col-12 md:col-2 flext p-button-danger" pButton type="button" (click)="deleteJj(job)"></button>
                    </div>
                </td>
                <td class="td-button" type="button" (click)="clickAddJenkinsJob(jenkinsAccountSetting)"> 
                    <i class="pi pi-plus-circle" style="margin-right: 10%;" ></i>Add Job
                </td>
                <td class="td-button" type="button" (click)="clickRemove(jenkinsAccountSetting)"> 
                    <i class="pi pi-trash" style="margin-right: 10%;" ></i>Remove
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
