nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid #333;
}

/* Change the link color to #111 (black) on hover */
nav li a.active {
  background-color: #04AA6D;
  border: 2px solid #04AA6D;
}

nav li a:hover {
  border: 2px solid black;
}