<div style="padding-top: 1%;">
    <div style="padding-bottom: 1%;" class="flex">
        <button pButton type="button" label="new" icon="pi pi-plus" class="p-button ml-auto" (click)="showCreateDiag()"></button>
    </div>
    <p-table #vmTable [value]="servicePrincipleSettings" responsiveLayout="scroll" [globalFilterFields]="['clientId','subscriptionId', 'talentId']">
        <ng-template pTemplate="header"> 
            <tr>
                <th pSortableColumn="clientId">ClentId <p-sortIcon field="clientId"></p-sortIcon></th>
                <th pSortableColumn="talentId">TalentId<p-sortIcon field="talentId"></p-sortIcon></th>
                <th pSortableColumn="subscriptionId">SubscriptionId<p-sortIcon field="subscriptionId"></p-sortIcon></th>
                <th pSortableColumn="remove">Remove</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-servicePrincipleSettings >
            <tr>
                <td>{{ servicePrincipleSettings.clientId }}</td>
                <td>{{ servicePrincipleSettings.tenantId }}</td>
                <td>{{ servicePrincipleSettings.subscriptionId }}</td>
                <td class="td-button" type="button" (click)="clickRemove(servicePrincipleSettings)"> 
                    <i class="pi pi-trash" style="margin-right: 10%;" ></i>Remove
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>